.header {
background: #3331BC;
}
.heading-name {
  position: absolute;
width: 60px;
height: 59px;
left: 60px;
top: 44px;

font-style: normal;
font-weight: 700;
font-size: 35px;
line-height: 35px;

color: #393ed3;
}


.flights-tab {
  position: absolute;
width: 50px;
height: 36px;
left: 1426px;
top: 52px;

font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 36px;

color: #d51212;
}

.book-tab {
  position: absolute;
width: 50px;
height: 36px;
left: 1524px;
top: 52px;

font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 36px;

color: #f51515;
}

.about-tab {
  position: absolute;
width: 50px;
height: 36px;
left: 1600px;
top: 52px;

font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 36px;

color: #1a26a8;
}

.top-page {
  position: absolute;
width: 1371px;
height: 397px;
left: 274px;
top: 419px;

font-style: normal;
font-weight: 800;
font-size: 95px;
line-height: 124px;
text-align: center;

color: #f0e8e8;
}

.top-image {
  position: absolute;
width: 3000px;
height: 300px;
left: 0px;
top: 140px;
}

.track-flight {
  position: absolute;
width: 1456px;
height: 68px;
left: 294px;
top: 1400px;

font-style: normal;
font-weight: 800;
font-size: 60px;
line-height: 70px;
text-align: center;

color: #1144C9;
}

.get-status {
  position: absolute;
width: 1185px;
height: 114px;
left: 371px;
top: 1550px;

font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 53px;
text-align: center;

color: #070300;

}

.status {
  padding-bottom: 30px;
  width: 750px;
  height: 500px;
  margin: 0 auto;
  background-image: url("./assets/status.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.status label {
  margin-top: 200px;
  margin-left: 15%;
  z-index: 1;
  font-size: x-large;
  width: 50%;
  padding-top: 75px;
  font-weight: bold;
  text-decoration: underline;
}

.status input {
  margin-left: 15%;
  z-index: 1;
  font-size: x-large;
  width: 50%;
  display: flex;
}

.information {
  padding-bottom: 30px;
  width: 750px;
  height: 500px;
  margin: 0 auto;
  background-image: url("./assets/wing.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.information label {
  margin-top: 200px;
  margin-left: 15%;
  z-index: 1;
  font-size: x-large;
  width: 50%;
  padding-top: 75px;
  font-weight: bold;
  text-decoration: underline;
}

.information input {
  margin-left: 15%;
  z-index: 1;
  font-size: x-large;
  width: 50%;
  display: flex;
}

.weather {
  padding-bottom: 30px;
  width: 750px;
  height: 500px;
  margin: 0 auto;
  background-image: url("./assets/weather.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.weather label {
  margin-top: 200px;
  margin-left: 15%;
  z-index: 1;
  font-size: x-large;
  width: 50%;
  padding-top: 75px;
  font-weight: bold;
  text-decoration: underline;
}

.weather input {
  margin-left: 15%;
  z-index: 1;
  font-size: x-large;
  width: 50%;
  display: flex;
}

.footer {
  position: absolute;
width: 478px;
height: 286px;
left: 134px;
top: 4607px;

font-style: normal;
font-weight: 600;
font-size: 34px;
line-height: 40px;

color: #141313;
}